//                                 .

    {
         ('     -        ');
         ('     -        ');
}       ( ) {
  //   '    .                         
}

      .        = {

             : {
          : '          ',
              : {
              : '        ',
          :     '        ',
              : '        '
    },
        : {
         : 2,
         : 10
    },
              : {
               : '    _          '
    },
                        : '  _       .       '
  },

      : {
          : '          ',
              : {
              : '        _    ',
          :     '        ',
              : ''
    },
        : {
         : 2,
         : 10
    },
              : {
               : '    _          '
    },
                        : '  _       .       '
  },

         : {
          : '          ',
              : {
              : '  _  ',
          :     '        ',
              : '        '
    },
        : {
         : 2,
         : 10
    },
              : {
               : '    _          '
    },
                        : '  _       .       '
  },

            : {
          : '          ',
              : {
              : '  _  ',
          :     '        ',
              : '        '
    },
        : {
         : 2,
         : 10
    },
              : {
               : '    _          '
    },
                        : '  _       .       '
  }

};
